@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Buon ngu waaaaaaaaaaaaaaaaaaaaaaaa</h2>
    <h2>@this.Model.msg</h2>
    <h2>@this.Model.pgnum</h2>
    <h2>@this.ViewBag.Id</h2>
    <h2>@this.ViewBag.Date</h2>
    </div>
